/node_modules/

.env
.env.local
.env.production
.env.development

logs/
uploads/
public/uploads/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

.DS_Store

.vscode/
!.vscode/extensions.json
.idea/
*.swp
